//
   Created by Jan on 2015/7/26.
html
   head
       body
           h2   —≠ª∑∑÷÷Æ
           h2   for each
           -var course={name:'jianghb',age:6}
           -for(var v in course)
           p=course[v]
